*
{
    font-family: "Dela Gothic One", sans-serif;
}

.bg_page
{
    background-color: palegoldenrod;
    height: 100vh ;
    background-image: url(../img/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.title
{
    font-size: 80px;
}

.style_3
{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    line-height: 100px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 50%;
}

.style_5
{
    width: 100px;
    height: 100px;
    background-color: paleturquoise;
    line-height: 100px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 50%;
}

.style_5_3
{
    width: 100px;
    height: 100px;
    background-color: palegreen;
    line-height: 100px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 50%;
}

.style_number
{
    width: 100px;
    height: 100px;
    background-color: rgb(150, 31, 31);
    line-height: 100px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 50%;
}

.scroll
{
    height: 80vh;
    overflow-y: auto;
}